<p id="notice"><%= notice %></p>

<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>Tout vos Flats</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>You search for <strong></strong>. We found 5 flats out of our 5 on our website.</p>
    </div>
  </div>
  <div class="row">
    <% @flats.each do |flat| %>
    <div class="col-4">
      <div class="flat-card-image"></div>
        <div class="flat-card-content">
          <div class="flat-card-title">
            <h4><%= flat.name %></h4>
          </div>
          <p><%= flat.address %></p>
          <div class="flex">
            <div class="flex">
              <i class="fas fa-user-friends icons"></i>
              <span><%= flat.numbr_of_guests %></span>
            </div>
            <div class="flex ml-3">
              <i class="fas fa-euro-sign icons"></i>
              <%= flat.price_per_night %>
            </div>
          </div>
          <div class="flat-card-actions">
              <%= link_to 'More info', flat %>
              <%= link_to 'Edit', edit_flat_path(flat), class:"ml-3 text-warning" %>
              <%= link_to 'Destroy', flat, method: :delete, data: { confirm: 'Are you sure?' }, class:"ml-3 text-danger" %>
          </div>
        </div>
      </div>
      <% end %>
  </div>
</div>
